:root {
    --white: #FFFFFF;
    --columbia-blue: #B3D7ED;
    --carolina-blue: #86BCDE;
    --lapis-lazuli: #1D5E84;
    --dark-orange-web: #F6943B;
    --pumpkin: #F1731F;
    --image-border: var(--background);

    --text: hsl(203, 62%, 96%);
    --background: hsl(210, 60%, 2%);
    --primary: hsl(208, 65%, 49%);
    --secondary: hsl(271, 85%, 32%);
    --accent: hsl(296, 85%, 59%);
    
    --text5: hsl(203, 62%, 96%, 5%);
    --text10: hsl(203, 62%, 96%, 10%);
    --text15: hsl(203, 62%, 96%, 15%);
    --text20: hsl(203, 62%, 96%, 20%);
    --text25: hsl(203, 62%, 96%, 25%);
    --text30: hsl(203, 62%, 96%, 30%);
    --text35: hsl(203, 62%, 96%, 35%);
    --text40: hsl(203, 62%, 96%, 40%);
    --text45: hsl(203, 62%, 96%, 45%);
    --text50: hsl(203, 62%, 96%, 50%);
    --text55: hsl(203, 62%, 96%, 55%);
    --text60: hsl(203, 62%, 96%, 60%);
    --text65: hsl(203, 62%, 96%, 65%);
    --text70: hsl(203, 62%, 96%, 70%);
    --text75: hsl(203, 62%, 96%, 75%);
    --text80: hsl(203, 62%, 96%, 80%);
    --text85: hsl(203, 62%, 96%, 85%);
    --text90: hsl(203, 62%, 96%, 90%);
    --text95: hsl(203, 62%, 96%, 95%);
    --primary5: hsl(208, 65%, 49%, 5%);
    --primary10: hsl(208, 65%, 49%, 10%);
    --primary15: hsl(208, 65%, 49%, 15%);
    --primary20: hsl(208, 65%, 49%, 20%);
    --primary25: hsl(208, 65%, 49%, 25%);
    --primary30: hsl(208, 65%, 49%, 30%);
    --primary35: hsl(208, 65%, 49%, 35%);
    --primary40: hsl(208, 65%, 49%, 40%);
    --primary45: hsl(208, 65%, 49%, 45%);
    --primary50: hsl(208, 65%, 49%, 50%);
    --primary55: hsl(208, 65%, 49%, 55%);
    --primary60: hsl(208, 65%, 49%, 60%);
    --primary65: hsl(208, 65%, 49%, 65%);
    --primary70: hsl(208, 65%, 49%, 70%);
    --primary75: hsl(208, 65%, 49%, 75%);
    --primary80: hsl(208, 65%, 49%, 80%);
    --primary85: hsl(208, 65%, 49%, 85%);
    --primary90: hsl(208, 65%, 49%, 90%);
    --primary95: hsl(208, 65%, 49%, 95%);
    --secondary5: hsl(271, 85%, 32%, 5%);
    --secondary10: hsl(271, 85%, 32%, 10%);
    --secondary15: hsl(271, 85%, 32%, 15%);
    --secondary20: hsl(271, 85%, 32%, 20%);
    --secondary25: hsl(271, 85%, 32%, 25%);
    --secondary30: hsl(271, 85%, 32%, 30%);
    --secondary35: hsl(271, 85%, 32%, 35%);
    --secondary40: hsl(271, 85%, 32%, 40%);
    --secondary45: hsl(271, 85%, 32%, 45%);
    --secondary50: hsl(271, 85%, 32%, 50%);
    --secondary55: hsl(271, 85%, 32%, 55%);
    --secondary60: hsl(271, 85%, 32%, 60%);
    --secondary65: hsl(271, 85%, 32%, 65%);
    --secondary70: hsl(271, 85%, 32%, 70%);
    --secondary75: hsl(271, 85%, 32%, 75%);
    --secondary80: hsl(271, 85%, 32%, 80%);
    --secondary85: hsl(271, 85%, 32%, 85%);
    --secondary90: hsl(271, 85%, 32%, 90%);
    --secondary95: hsl(271, 85%, 32%, 95%);
    --accent5: hsl(296, 85%, 59%, 5%);
    --accent10: hsl(296, 85%, 59%, 10%);
    --accent15: hsl(296, 85%, 59%, 15%);
    --accent20: hsl(296, 85%, 59%, 20%);
    --accent25: hsl(296, 85%, 59%, 25%);
    --accent30: hsl(296, 85%, 59%, 30%);
    --accent35: hsl(296, 85%, 59%, 35%);
    --accent40: hsl(296, 85%, 59%, 40%);
    --accent45: hsl(296, 85%, 59%, 45%);
    --accent50: hsl(296, 85%, 59%, 50%);
    --accent55: hsl(296, 85%, 59%, 55%);
    --accent60: hsl(296, 85%, 59%, 60%);
    --accent65: hsl(296, 85%, 59%, 65%);
    --accent70: hsl(296, 85%, 59%, 70%);
    --accent75: hsl(296, 85%, 59%, 75%);
    --accent80: hsl(296, 85%, 59%, 80%);
    --accent85: hsl(296, 85%, 59%, 85%);
    --accent90: hsl(296, 85%, 59%, 90%);
    --accent95: hsl(296, 85%, 59%, 95%);

    --text-100: hsl(203, 61%, 90%);
    --text-200: hsl(203, 63%, 80%);
    --text-300: hsl(203, 62%, 70%);
    --text-400: hsl(203, 62%, 60%);
    --text-500: hsl(203, 62%, 50%);
    --text-600: hsl(203, 62%, 40%);
    --text-700: hsl(203, 62%, 30%);
    --text-800: hsl(203, 63%, 20%);
    --text-900: hsl(203, 61%, 10%);
    --text-950: hsl(203, 62%, 5%);

    --background-50: hsl(240, 4%, 95%);
    --background-100: hsl(200, 6%, 90%);
    --background-200: hsl(210, 6%, 80%);
    --background-300: hsl(206, 5%, 70%);
    --background-400: hsl(210, 5%, 60%);
    --background-500: hsl(208, 5%, 50%);
    --background-600: hsl(210, 5%, 40%);
    --background-700: hsl(206, 5%, 30%);
    --background-800: hsl(210, 6%, 20%);
    --background-900: hsl(200, 6%, 10%);
    --background-950: hsl(180, 4%, 5%);

    --primary-100: hsl(207, 65%, 90%);
    --primary-200: hsl(208, 65%, 80%);
    --primary-300: hsl(208, 65%, 70%);
    --primary-400: hsl(208, 65%, 60%);
    --primary-500: hsl(208, 65%, 50%);
    --primary-600: hsl(208, 65%, 40%);
    --primary-700: hsl(208, 65%, 30%);
    --primary-800: hsl(208, 65%, 20%);
    --primary-900: hsl(207, 65%, 10%);
    --primary-950: hsl(208, 68%, 5%);

    --secondary-50: hsl(273, 85%, 95%);
    --secondary-100: hsl(271, 84%, 90%);
    --secondary-200: hsl(271, 84%, 80%);
    --secondary-300: hsl(271, 86%, 70%);
    --secondary-400: hsl(271, 85%, 60%);
    --secondary-500: hsl(271, 85%, 50%);
    --secondary-600: hsl(271, 85%, 40%);
    --secondary-700: hsl(271, 86%, 30%);
    --secondary-800: hsl(271, 84%, 20%);
    --secondary-900: hsl(271, 84%, 10%);
    --secondary-950: hsl(270, 85%, 5%);

    --accent-50: hsl(297, 85%, 95%);
    --accent-100: hsl(296, 84%, 90%);
    --accent-200: hsl(297, 84%, 80%);
    --accent-300: hsl(296, 86%, 70%);
    --accent-400: hsl(296, 85%, 60%);
    --accent-500: hsl(296, 85%, 50%);
    --accent-600: hsl(296, 85%, 40%);
    --accent-700: hsl(296, 86%, 30%);
    --accent-800: hsl(297, 84%, 20%);
    --accent-900: hsl(296, 84%, 10%);
    --accent-950: hsl(295, 85%, 5%);
}